In [0]:
import pandas as pd
import json

In [0]:
df = pd.read_csv('desafio1.csv', delimiter=',')

## Analise exploratória

In [3]:
df.shape

(7000, 12)

In [4]:
df.head()

   RowNumber  ... membro_ativo
0          1  ...            1
1          2  ...            1
2          3  ...            0
3          4  ...            0
4          5  ...            1

[5 rows x 12 columns]

In [5]:
df.tail()

      RowNumber  ... membro_ativo
6995       6996  ...            1
6996       6997  ...            1
6997       6998  ...            1
6998       6999  ...            0
6999       7000  ...            1

[5 rows x 12 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   RowNumber                 7000 non-null   int64
 1   id                        7000 non-null   object
 2   sobrenome                 7000 non-null   object
 3   pontuacao_credito         7000 non-null   int64
 4   estado_residencia         7000 non-null   object
 5   genero                    7000 non-null   object
 6   idade                     7000 non-null   int64
 7   nivel_estabilidade        7000 non-null   int64
 8   saldo_conta               7000 non-null   float64
 9   numero_produtos           7000 non-null   int64
 10  possui_cartao_de_credito  7000 non-null   int64
 11  membro_ativo              7000 non-null   int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.4+ KB

In [7]:
df.estado_residencia.unique()

array(['SC', 'RS', 'PR'], dtype=object)

## Agrupa variáveis

In [9]:
# media por estado
mean = df.groupby('estado_residencia').pontuacao_credito.apply(pd.DataFrame).mean()
mean

PR    648.961294
RS    651.105143
SC    649.537653
dtype: float64

In [10]:
# mediana por estado
median = df.groupby('estado_residencia').pontuacao_credito.apply(pd.DataFrame).median()
median

PR    650.0
RS    650.0
SC    653.0
dtype: float64

In [11]:
# moda por estado
mode = df.groupby('estado_residencia').pontuacao_credito.apply(pd.DataFrame).mode().T[0]
mode

PR    850.0
RS    850.0
SC    850.0
Name: 0, dtype: float64

In [12]:
# desvio padrao por estado
std = df.groupby('estado_residencia').pontuacao_credito.apply(pd.DataFrame).std()
std

PR    98.607186
RS    95.136598
SC    97.233493
dtype: float64

## Constrói resultado

In [15]:
result = pd.DataFrame([mode, median, mean, std], index=['moda', 'mediana', 'media', 'desvio_padrao'])
result

                       PR          RS          SC
moda           850.000000  850.000000  850.000000
mediana        650.000000  650.000000  653.000000
media          648.961294  651.105143  649.537653
desvio_padrao   98.607186   95.136598   97.233493

In [16]:
result_to_json = result.to_dict()
result_to_json

{'PR': {'desvio_padrao': 98.60718591309772,
  'media': 648.9612940496822,
  'mediana': 650.0,
  'moda': 850.0},
 'RS': {'desvio_padrao': 95.1365984138357,
  'media': 651.1051428571428,
  'mediana': 650.0,
  'moda': 850.0},
 'SC': {'desvio_padrao': 97.23349279343306,
  'media': 649.5376527422563,
  'mediana': 653.0,
  'moda': 850.0}}

In [0]:
# Escreve resultado num arquivo

with open('submission.json', 'w') as outfile:
    json.dump(result_to_json, outfile)